<!DOCTYPE HTML>
<head>
<title>{% block title %}SMS BOX!{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="{{asset('/css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{asset('css/nav.css')}}" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
{% block stylesheets %}
{% endblock %}
<script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
<script type="text/javascript" src="{{asset('js/login.js')}}"></script>
<script type="text/javascript" src="{{asset('js/Chart.js')}}"></script>
 <script type="text/javascript" src="{{asset('js/jquery.easing.js')}}"></script>
 <script type="text/javascript" src="{{asset('js/jquery.ulslide.js')}}"></script>
 <!----Calender -------->
  <link rel="stylesheet" href="{{asset('css/clndr.css')}}" type="text/css" />
  <script src="{{asset('js/underscore-min.js')}}"></script>
  <script src= "{{asset('js/moment-2.2.1.js')}}"></script>
  <script src="{{asset('js/clndr.js')}}"></script>
  <script src="{{asset('js/site.js')}}"></script>
  <!----End Calender -------->
{% block TopJavascript %}
{% endblock TopJavascript %}
</head>
<body>

  <div class="wrap">	 
		<div class="header">
	    <div class="header_top">
				<div class="menu">
					<a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
						<ul class="nav">
							<li {% if ActiveMessages is defined %} class="active" {% endif %}><a href="{{path('index')}}"><i><img src="images/mail.png" alt="" /></i>Messages 
							{%if messages_n is defined%}<span class="messages">{{messages_n}}</span>{%endif%}
							</a></li>
							<li {% if ActiveContacts is defined %} class="active" {% endif %}><a href="{{path('contact')}}"><i><img src="images/user.png" alt="" /></i>Contacts</a></li>
							<li {% if ActiveReport is defined %} class="active" {% endif %}><a href="{{path('report')}}"><i><img src="images/settings.png" alt="" /></i>Report</a></li>
								
							<div class="clear"></div>
						</ul>
						<script type="text/javascript" src="js/responsive-nav.js"></script>
				</div>	
		 	<div class="clear"></div>				 
		</div>
	</div>	  					     
	</div>

	  <div class="main">  
	  {% block content %}
		{% endblock content %}
		</div>

		{%block javascript%}
		{%endblock javascript%}
</body>
</html>

