{% extends('base.html.twig') %}
{% set ActiveContacts=1 %}

{% block title %}Contacts{% endblock title %}
{% block stylesheets %}
<style  rel="stylesheet" type="text/css" media="all">
    .column_middle{
        width:62.6%;
    }
</style>
{% endblock stylesheets %}

{%block javascript %}
<script type="text/javascript">

	

</script>
{%endblock javascript %}



{% block content %}
	  
	  <div class="main">  
	    <div class="wrap">  		 
	       <div class="column_left">	          
	    		 <div class="menu_box">
	    		 	 <h3>New Contact +
							</h3>
	    		 	   <div class="menu_box_list ver2">
									<form id="theForm" method="post" action="{{path('contact')}}">
									<input type='hidden' name='_method' value="POST" />
				      		<ul>
									
						  		<li><a href="#" class="messages"><span>
										<input class="newContact" type="text" placeholder="Name" name="name" />
									</span><div class="clear"></div></a></li>

									<li><a href="#" ><span>
										<input class="newContact" type="text" placeholder="Number" name="number"/>
									</span><div class="clear"></div></a></li>
									
									<li><span>
										
										<input id="submitNewContact" class="newContact" type="submit"  value="SAVE" />
									<div class="clear"></div></li>		  	
				    		</ul>
								</form>
				      </div>
	    		 </div>
	    		 
	  		</div> 
	  		
            <div class="column_middle" >
              

		         <div class="weather" >
		               <h3><i><img src="images/location.png" alt="" /> </i>Contacts</h3>
		              
						
					</div>
						<div class="temp_list ver2">
				      			<ul>
										{% if contacts is defined %}
												
												{% for key,value in contacts %}

													<li><a href="#"><span class="day_name" >
														{{value.name}}
													</span>
													<label class="digits">
														{{value.number}}
													</label><div class="clear"></div></a></li>				
														

												{% endfor %}
										{% endif %}
										{%if contacts is not defined %}
												<li><a  class="messages"><span>
														NO CONTACTS
												</span><div class="clear"></div></a></li>
										{%endif%}
					  			
				    		</ul>
				      </div>

							
		          </div>	           

    	    </div>
  		 <div class="copy-right">
	 	 </div>   
{%endblock content%}