{% extends('base.html.twig') %}
{% set ActiveMessages=1 %}

{% block title %}Messages{% endblock title %}
{% block stylesheets %}
<style  rel="stylesheet" type="text/css" media="all">
    .column_middle{
        width:62.6%;
    }
</style>
{% endblock stylesheets %}

{%block javascript %}
<script type="text/javascript">

    $(document).ready(function(){
        $("#sendBtn").click(function(){
            var messageDefined=false;
            var messageId;
            {% if message is defined %}
                messageDefined=true;
                messageId={{message.id}};
                action= "{{  path( 'sendMessage', {'id':message.id} ) }}";
                $("#theForm input.methodIndicator").val("GET");
            {% endif %}
            
            var form=document.getElementById("theForm");

            if(messageDefined){
                /* REDIRECT TO /message/{id}/contact [GET]  */
                form.action=action;
            }else{
                $("#theForm input.sendFlag").val("create&send");
                $("#theForm input.methodIndicator").val("POST");
                /* REDIRECT TO /message/ [POST]  */
                form.action="{{path('newMessage')}}";
            }
            
            form.submit();

        });

        $("#deleteBtn").click(function(){
            var messageDefined=false;
            var messageId;
            {% if message is defined %}
                messageDefined=true;
                messageId={{message.id}};
                action= "{{  path( 'deleteMessage', {'id':message.id} ) }}";
                $("#theForm input.methodIndicator").val("DELETE");
            {% endif %}
            
            var form=document.getElementById("theForm");

            if(messageDefined){
                /* REDIRECT TO /message/{id}/contact [GET]  */
                form.action=action;
            }else{
                form.action="{{path('newMessage')}}";
            }
            
            form.submit();
        });

        $("#saveBtn").click(function(){

            var messageDefined=false;
            var messageId;
            {% if message is defined %}
                messageDefined=true;
                messageId={{message.id}};
                action= "{{  path( 'updateMessage', {'id':message.id} ) }}";
                $("#theForm input.methodIndicator").val("POST");
            {% endif %}
            
            var form=document.getElementById("theForm");

            if(messageDefined){
                /* REDIRECT TO /message/{id} [PUT]  */
                $("#theForm input.methodIndicator").val("PUT");
                form.action=action;
            }else{
                $("#theForm input.methodIndicator").val("POST");
                /* REDIRECT TO /message/ [POST]  */
                form.action="{{path('newMessage')}}";
            }
            
            form.submit();
        });
    });

</script>
{%endblock javascript %}




{% block content %}

<div  class="wrap" >  		 
	       <div class="column_left">	          
	    		 <div class="menu_box">
	    		 	 <h3>Saved Messages
                      <span ><a style="color:white;font-size:35px;padding-top:10px;" href="{{path('index')}}"> + </a></span></h3>
	    		 	   <div class="menu_box_list">
				      		<ul>
                            {% if messages is defined %}
                                
                                {% for key,value in messages %}
                                    <li 
                                    {%if message is defined %}
                                        {% if message.id==value.id %}
                                            class='active'
                                        {%endif%}
                                    {%endif%}
                                    value
                                    ><a href="{{ path('showMessage',{id: value.id   }) }}" class="messages"><span>
                                        {{ value.digest }}
                                        </span><label class="digits">
                                        {{ value.created_at }}
                                    </label><div class="clear"></div></a></li>

                                {% endfor %}
                            {% endif %}
                            {%if messages is not defined %}
                                <li><a  class="messages"><span>
                                    NO MESSAGES
                                </span><div class="clear"></div></a></li>
                            {%endif%}					  	
				    		</ul>
				      </div>
	    		 </div>
	    		 
	  		</div> 

              
	  		
            <div class="column_middle">
		        <div class="weather">
		               <h3>
                        {% if message is defined %}
                            {{message.digest}}
                        {% else %}
                            New Message
                        {% endif %}
                        </h3>

		                <form id='theForm' method="post">
                            <input type="hidden" class="sendFlag" name="sendFlag" />
                            <input type="hidden" class="methodIndicator" name="_method" value="GET" />
                            <div class="temp_list">	
                                <textarea name='body' style='width:99%;min-height:200px;'>{%if message is defined %}{{message.body}}{%endif%}</textarea>
				            </div>
                            <div class="articles_list">
                            <ul>
                                <li id='deleteBtn' ><a href="#" class="red"> <img src="images/comments.png" alt="" /> DELETE</a></li>
                                <li id='saveBtn' ><a href="#" class="purple"> <img src="images/views.png" alt="" /> SAVE</a></li>
                                <li id='sendBtn' ><a href="#" class="yellow"> <img src="images/likes.png" alt="" /> SEND To</a></li>
    		           	  	<div class="clear"></div>	
	    	           	    </ul>
                        </form>
		            </div>
		          </div>	           
    	    </div>    	    
    	<div class="clear"></div>
 	 </div>
   </div>


   {% endblock content %}