{% extends('base.html.twig') %}
{% set ActiveReport=1 %}

{% block title %}Report{% endblock title %}


{%block content %}

	  <div class="main">  
	    <div class="wrap">  		 
	       <div class="column_left">	          
	    		 <div class="menu_box">
	    		 	 <h3>Sent Messages</h3>
							<div class="temp">
							<form action="{{path('report')}}" method="get">
								<input type="text" name="query" placeholder="Search by Number" {%if query is defined%}value="{{query}}"{%endif%} />
								<input type="submit" value="Search" />
							</form>
							</div>
	    		 	   <div class="menu_box_list">
				      		<ul>
									{% for key,value in sent_messages %}

										<li><a href="#" class="messages"><span>{{value.message}}</span><span>{{value.number}}</span><label class="digits ">{{value.status==0?"failed":value.api}}</label><div class="clear"></div></a></li>		

									{% endfor %}
						  			  	
				    		</ul>
				      </div>
	    		 </div>
	    		 
		             
	  		</div> 
	  		
            <div class="column_middle">
              <div class="column_middle_grid1">
		         
		       </div>
		         <div class="weather">
		               <h3>Messages Sent in Total</h3>
		              <div class="today_temp">
		                <div class="temp">
							<figure>To {{recipients_n}} different Contacts<span>{{total}}</span></figure>
						</div>
						
					</div>
						<div class="temp_list">
				      			<ul>

										{% for key,value in contacts %}
											<li class="active"><a href="#"><span class="day_name">
											{{value.name}}
											</span>
						  				<label class="digits">
											{{value.number}}
											</label><div class="clear"></div></a></li>
										{%endfor%}
				    		</ul>
				      </div>
		          </div>	           
		                  
		       
    	    </div>
    	    
            <div class="column_right">
            	
				 	
				   <div class="column_right_grid downloading_uploading" style="margin-top:0;">
					 	<h3>Rate of Failure</h3>
                      <ul>
					      <li>                              
                            <div class="progress">
                              <div class="progress-bar" style="width:{{rate1}}%"></div>
                            </div>
                            <div class="clearfix">
                                <p class="downloading"> <i><img src="images/download.png" alt="" /></i> API 1 ( {{api1}} ) </p>
                                <p class="percentage">{{rate1}}<em>%</em></p>
                                <div class="clear"></div>
                            </div>
                           </li>
                           <li>                              
                            <div class="progress">
                              <div class="progress-bar uploading" style="width:{{rate2}}%"> </div>
                            </div>
                            <div class="clearfix">
                                <p class="downloading"><i><img src="images/download.png" alt="" /></i> API 2 ( {{api2}} ) </p>
                                <p class="percentage">{{rate2}}<em>%</em></p>
                                <div class="clear"></div>
                            </div>
                           </li>
                        </ul>
				   </div>
				   <div class="chart">
		               <h3>API Usage</h3>
		                <div class="diagram">
		                  <canvas id="canvas" height="220" width="220"> </canvas>
		                  
		                 </div>
		                     
		               <!----		              
						<span><img src="images/chart.png" alt="" /></span>
						----->					
						<div class="chart_list">
			           	  <ul>
			           	  	<li><a href="#" class="red">API 1<p class="percentage">{{api1_perc}}<em>%</em></p></a></li>
			           	  	<li><a href="#" class="purple">API 2<p class="percentage">{{api2_perc}}<em>%</em></p></a></li>
			           	  	<div class="clear"></div>	
			           	  </ul>
			           </div>
			           <script>
						var doughnutData = [
								{
									value: {{api1_perc}},
									color:"#E64C65"
								},
								{
									value : {{api2_perc}},
									color : "#11A8AB"
								}
							
							];				
							var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);					
					</script>
		          </div>
             </div>
    	<div class="clear"></div>
 	 </div>
   </div>  		 
	 	 </div>   
{%endblock content%}