{% extends('base.html.twig') %}
{% set ActiveContacts=1 %}

{% block title %}Contacts{% endblock title %}
{% block stylesheets %}
<style  rel="stylesheet" type="text/css" media="all">
    .column_middle{
        width:62.6%;
    }
</style>
{% endblock stylesheets %}

{%block TopJavascript %}
<script type="text/javascript">

$(document).ready(function(){

	$("a.contactLink").click(function(){
		var mid= {{message.id}};
		var cid=this.getAttribute('data-contact-id');
				
		$('<form method="POST" action="/message/'+mid+'/'+cid+'"></form>').appendTo('body').submit();

	});

});


</script>
{%endblock TopJavascript %}



{% block content %}
	  
	  <div class="main">  
	    <div class="wrap">  		 
	       <div class="column_left">	          
	    		 
	    		 
	  		</div> 
	  		
            <div class="column_full" >
              <div class="column_middle_grid1" style="margin-bottom:10px;">
		         <div class="profile_picture">
		        	<a href=""><img src="images/profile_img150x150.jpg" alt="" />	</a>		         
		            <div class="profile_picture_name">
		            	<h2>Sending Message</h2>
		            	<p>{{message.body}}</p>
		            </div>
		             <span><a href="#"> <img src="images/follow_user.png" alt="" /> </a></span>
		          </div>
		       </div>

		         <div class="weather">
		               <h3><i><img src="images/location.png" alt="" /> </i>Contacts</h3>
		              <div class="today_temp">
		                <div class="temp">
							<figure>Pick a Contact to Send Message to</figure>
						</div>
						<img src="images/sun.png" alt="" />
					</div>
						<div class="temp_list">
				      			<ul>
										{% if contacts is defined %}
												
												{% for key,value in contacts %}

													<li><a href="#" class="contactLink" data-contact-id="{{value.id}}"  ><span class="day_name" >
														{{value.name}}
													</span>
													<label class="digits">
														{{value.number}}
													</label><div class="clear"></div></a></li>				
														

												{% endfor %}
										{% endif %}
										{%if contacts is not defined %}
												<li><a  class="messages"><span>
														NO CONTACTS
												</span><div class="clear"></div></a></li>
										{%endif%}

										
				    		</ul>
				      </div>

							
		          </div>	           

    	    </div>
  		 <div class="copy-right">
	 	 </div>   
{%endblock content%}